@import "normalize";
@import "bp-defaults";
@import "vars_mixins";

html,
body,
#wrapper{
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

#wrapper{
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

footer {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.b42-logo-holder {
    top: 40px;
    left: 40px;
    position: absolute;
    z-index: 3;
}

.b42-logo {
    display: block;
    width: 170px;
}

.python-montyisimus {
    width: 100vw;
    height: 100vh;
    background: orange;
    transition: all .5s ease-in-out;
    transform: translateY(-100vh);
    position: absolute;

    background-image: url(../img/python-foot.jpg);

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    .put-the-foot-down & {
        transform: translateY(0);
    }
}

.holder {
    transition: all .5s ease-in-out;
    transform: translateY(0);
    height: 100%;
    background: rgb(98,125,77);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(98,125,77,1)), color-stop(100%,rgba(31,59,8,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=1 );

    .put-the-foot-down & {
        transform: translateY(100vh);
    }
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1,1,1,0.7)
}

.main {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 40px 0;
    width: 80%;
}


.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    transform: translateY(5%);
    -moz-transform: translateY(5%);
    -webkit-transform: translateY(5%);
}

.music-info {
    padding: 20px;

    &.left {
        width: 35%;
        -webkit-perspective: 10000px;
        perspective: 10000px;
    }

    &.right {
        z-index: 3;
        width: 65%;
    }
}

.music-info__artist-info {

    h1, h2, h3 {
        margin: 10px 0;
    }

    h1 {
        font-size: 7vw;
        padding-bottom: 20px;
        border-bottom: 5px solid white;
    }

    h2 {
        font-size: 5vw;
        padding-top: 20px;
    }

    p {
        font-size: 3vw;
    }
}


.music-info__album-pic {
    transform: perspective(500px) scale(1,1) rotateY(15deg);
    -moz-transform: perspective(500px) scale(1,1) rotateY(15deg);
    -webkit-transform: perspective(500px) scale(1,1) rotateY(15deg); //No rotate for safari. Fuck you safari
    -webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.4)));
    -moz-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.4)));
    -o-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.4)));
    box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.4)));
    width: 100%;
}
