<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Music to B42's ears?</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/now_playing.css">
    </head>
    <body class="">
        <div class="b42-logo-holder">
            <h3>You're listening to </h3>
            <img src="img/b42_logo.png" alt="" class="b42-logo">
        </div>

        <script type="text/template" id="trackTemplate">
            <div id="wrapper" style="background-image: url({{artistImage}})">
                <div class="overlay"></div>
                <div class="content">
                    <div class="music-info left">
                        <img src="{{albumImage}}" alt="{{artistAlbum}}" id="album-images" class="music-info__album-pic" />
                    </div>
                    <div class="music-info right music-info__artist-info">
                        <h1>{{artist}}</h1>
                        <h2>{{track}}</h2>
                        <p class="music-info__album">
                            <span>{{album}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </script>
        <div class="python-montyisimus"></div>
        <div class="holder"></div>
        <script src="js/main.js"></script>
        <footer>
            <small>Powered by LastFm&copy;</small>
        </footer>
    </body>
</html>
